header .container {
   min-height: 15vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.header-left {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.title {
   font-family: "Lexend Deca", monospace;
   font-size: 2.5rem;
   color: var(--primary-colour);
}

.subtitle {
   font-size: 1.5rem;
   font-family: "Lexend Deca", monospace;
   color: var(--secondary-colour);
   display: flex;
   align-items: center;
   margin-top: 0.5rem;
}

.subtitle .header-icon {
   font-size: 2rem;
   color: #5ccfee;
   margin-left: 0.5rem;
}
