#type-test .container {
   min-height: 70vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
}

.type-settings {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: space-between;
   max-width: 600px;
   width: 90%;
}
